<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjetoPDVServico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ProjetoPDVServico.Properties.Settings>
            <setting name="ProjetoPDVServico_NFCeAutorizacaoH_NfeAutorizacao"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeAutorizacaoP_NfeAutorizacao"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeInutilizacao2H_NfeInutilizacao2"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeInutilizacao2P_NfeInutilizacao2"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeRecepcaoEventoH_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeRecepcaoEventoP_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeAutorizacao4H_NFeAutorizacao4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeInutilizacao4H_NFeInutilizacao4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeRecepcaoEvento4H_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeAutorizacao4P_NFeAutorizacao4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeInutilizacao4P_NFeInutilizacao4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="ProjetoPDVServico_NFCeRecepcaoEvento4P_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx</value>
            </setting>
        </ProjetoPDVServico.Properties.Settings>
    </applicationSettings>
</configuration>